.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-width: 100px;
    min-height: 500px;
    background-color: white;
    z-index: 1;
}
.product__title{
    font-size: 25px;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
}
.product__price{
    margin: 5px;
    font-size: 25px;
}
.product__rating{
    display: flex;
    font-size: 25px;
}
.product > img{
    /* min-height: 200px; */
    max-height: 300px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
    margin-top: 20px;
}
.product > button{
    background-color: #f0c14b;
    border: 1px solid #a88734;
    cursor: pointer;
    font-size: 16px;
    padding: 2px 15px;
}